body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 1000px;
    margin: 0 calc(50% - 500px);
    display: flex;
    justify-content: space-around;
}

.column {
    text-align: center;
    margin: 50px 50px;
    width: 30px;
    object-fit: contain;
    ob
}

img {
    width: 100px;
    height: 220px;
    margin: bottom 30%;
    object-fit: contain;
    border-radius: 5px;
}

.img {
    background-color: aquamarine;
}
.img{
    background-color: blue;
}
.img {
    background-color: chocolate;
}
.img {
    background-color: darkgray;
}
.column{
    text-transform: uppercase;
    color: black;
    font-size:  25px;
    font-weight: 600;
    text-decoration: none;
}
